project:
  type: website

website:
  title: "It's Bona-behind"
  navbar:
    right:
      - text: About
        href: index.qmd
      - text: Blog
        href: blog.qmd
      - icon: instagram
        href: https://www.instagram.com/itsbonabehind/
format:
  html:
    theme: cosmo
    css: styles.css

editor: visual

